
.logo{
    color: rgb(233, 163, 0);
    font-family: 'Modak', cursive;
    position: relative;
}


.title{
    margin: auto;
    color: white;
    padding: 10px;
    font-size: 35px;
    text-align: center;
}


  